<tr>
    <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
        <tbody>
        <tr>
            <td class="desktop">
                <img src="%SHOW_POSTER%" style="width: 100px; border-radius: 10px; margin-right: 10px;">
            </td>
            <td>
                <img class="mobile" src="%SHOW_POSTER%" style="width: 100px; border-radius: 10px; margin-right: 10px;">
                <b>%SHOW_TITLE%</b>
                <br>
                <a>%SHOW_DESCRIPTION%</a>
            </td>
        </tr>
        </tbody>
    </table>
    </td>
</tr>