<template>
    <div v-bind:class="{footer: true, 'darkmode': darkMode}">
        <img v-bind:src="darkMode ? '/assets/breaker3_dark.svg' : '/assets/breaker3.svg'">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <b>About</b>
                        <a>This site was created over many weeks and many design iterations to solve the simple problem of forgetting what tv shows you watch, and not knowing when new seasons of it release. I needed a solution and couldnt find anything, so I made Flixr. It's always getting new features and if theres a feature you want feel free to add a gitlab issue on the repo (or add it yourself) :)</a>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-md-2">
                        <b>Links</b>
                        <a href="https://gitlab.com/darkzek/flixr">Gitlab Repo</a>
                        <a href="https://flixrapp.com/">Website</a>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-md-2">
                        <b>Contact</b>
                        <a href="mailto:daarkzek@protonmail.com" target="_blank">Email</a>
                        <a href="https://gitlab.com/darkzek/" target="_blank">My Gitlab</a>
                        <a href="https://discord.gg/jdhBRp" target="_blank">Support Discord</a>
                        <a href="https://twitter.com/daarkzek" target="_blank">Personal Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            darkMode: window.darkMode
        };
    },
    mounted() {
        this.$root.$on('theme-update', (theme) => this.darkMode = theme);
    }
}
</script>

<style lang="scss" scoped>
@import "~#/_variables.scss";

/* Footer */
.footer {

    img {
        width: 100%;
    }

    .content {
        width: 100%;
        background-color: $lbackground;
        padding-top: 100px;
        padding-bottom: 100px;
        color: white;
    }

    .row > div {
        flex-direction: column;

        * {
            display: flex;
        }
    }

    b {
        font-weight: 600;
    }
}

.darkmode {
    .content {
        background-color: $dbackground !important;
    }
}

</style>