<template>
    <div v-bind:class="{'dark-theme': darkMode}">
        <div class="header">
            <a class="title" href="/">Fl</a>
            <a class="header-link active" href="/" >Home</a>
            <a class="header-link" href="https://gitlab.com/darkzek" target="_blank">Creator</a>
            <a class="header-link" href="https://gitlab.com/darkzek/flixr" target="_blank">Gitlab</a>
            <div class="dark-toggle">
                <a v-if="howItWorks" v-on:click="$root.$emit('onboarding-start')" class="onboarding btn btn-primary" user-select="none">How it works</a>
                <span>Dark Mode</span>
                <div v-bind:class="{toggle: true, toggled: darkMode}" v-on:click="toggleDarkMode">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div id="background" v-if="!mobile">
            <img v-bind:class="{breaker1: true, breaker: true, inactive: darkMode}" src="/assets/breaker1.svg">
            <img v-bind:class="{breaker1: true, breaker: true, inactive: !darkMode}" src="/assets/breaker1_dark.svg">

            <img v-bind:class="{breaker2: true, breaker: true, inactive: darkMode}" src="/assets/breaker2.svg">
            <img v-bind:class="{breaker2: true, breaker: true, inactive: !darkMode}" src="/assets/breaker2_dark.svg">
        </div>
        <div id="background-gap" v-if="mobile"></div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            darkMode: window.darkMode,
            mobile: screen.width < 920,
            howItWorks: window.location.pathname == "/"
        }
    },
    mounted() {
        $('#background').css('background-image', "url(\"/assets/backgrounds/background-" + (Math.floor(Math.random() * 8) + 1) + ".jpeg\")" );
    
        if (screen.width < 920) {
            return;
        }

        $(window).on('scroll', function() {
            $('#background').css('background-position-y', $(window).scrollTop() * -.1 - 200);
        });
        
    },
    methods: {
        toggleDarkMode() {
            //Set cookie
            var mode = !this.darkMode;
            this.darkMode = mode;

            this.$root.$emit('theme-update', mode);

            if (mode) {
                window.enableDarkMode();
            } else {
                $("#dark-mode-stylesheet").remove();
            }

            $.cookie("darkModeOverride", this.darkMode ? "dark" : "light");
        }
    }
}
</script>

<style lang="scss" scoped>
@import "~#/_variables.scss";

.inactive {
    opacity: 0;
}

.dark-toggle {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;

    span {
        margin-top: 11px;
        margin-right: 10px;
    }

    .toggle {
        margin-top: 10px;
        background-color: $lgrey;
        border-radius: 100px;
        width: 50px;
        height: 25px;
        padding: 5px;
        cursor: pointer;
        user-select: none;
    }

    .circle {
        border-radius: 100px;
        width: 15px;
        height: 15px;
        background-color: $primary;
        display: block;
    }

    .toggle:hover .circle {
        background-color: $lprimary;
    }
}

#background {
    width: 100vw;
    height: 45vh;
    background-size: cover;
    background-position-y: -200px;
    background-repeat: none;
    position: relative;
    transition: none !important;
}

/* Fixes 1 pixel gap sometimes between bottom of breaker and page background */
.breaker {
    margin-bottom: -2px;
}

#background-gap {
    height: 80px;;
}

.header {
    width: 100%;
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    max-height: 50px;
    min-height: 50px;

    .title {
        letter-spacing: 5px;
        font-size: 40px;
        top: 20px;
        display: block;
        position: relative;
        width: 65px;
        height: 65px;
        margin-left: 20px;
        padding-top: 22px;
        margin-top: -10px;
        color: white !important;
        text-align: center;
        transition: transform 0.1s ease-in;
        background-color: #6069ac;
        border-radius: 200px;
        line-height: 20px;
        z-index: 2;
        font-family: 'Lobster', cursive;
    }

    span {
        color: black;
    }

    a {
        height: 50px;
        padding: 10px;
        margin-right: 20px;
        cursor: pointer;
        color: $lbackground;
        padding-top: 16px;
        user-select: none;
    }

    a:not(.title):not(.onboarding):hover, .active {
        border-bottom: 3px $blue solid;
        background-color: #f8fafc;
    }

    .onboarding {
        height: 34px !important;
        width: 160px;
        margin-top: 7px;
        line-height: 0px;
        display: block;
        float: right;
        background-color: $primary !important;
        border-width: 2px;
        color: white !important;
    }

    .onboarding:hover {
        background-color: $primary !important;
        border-color: $primary !important;
    }
}

.circle {
    background-color: $primary;
    border-radius: 200px;
    width: 128px;
    display: inline-block;
}

/* Breaker system */

.breaker1 {
    position: absolute;
    bottom: 0;
    width: 1350px;
}

.breaker2 {
    position: absolute;
    bottom: 0;
    left: 1350px;
    width: 1350px;
    width: 1350px;
}

.dark-theme {
    * {
        color: white !important;
    }

    .header {
        background-color: $lbackground !important;

        a:not(.title):hover, .active {
            border-bottom: 3px $blue solid;
            background-color: $dbackground;
        }
    }

    .toggle {
        background-color: $dbackground;
    }
}

@media only screen and (max-width: 920px) {
    .toggle, .dark-toggle span {
        display: none;
    }

    .btn {
        width: 120px;
    }
    
    .header-link {
        display: none;
    }
}


</style>