<template>
    <div class="main">
        <slot></slot>
        <div v-bind:class="{backdrop: shown, hidden: true, 'dark-mode': darkMode}">
            <div class="circle-1 circle"></div>
            <div class="note note-1">
                <a>Select a show you're interested in.</a>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-2"><div class="dot active"></div></div>
                    <div class="col-2"><div class="dot"></div></div>
                    <div class="col-2"><div class="dot"></div></div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="circle-2 circle"></div>
            <div class="note note-2">
                <a>Enter your email address</a>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-2"><div class="dot"></div></div>
                    <div class="col-2"><div class="dot active"></div></div>
                    <div class="col-2"><div class="dot"></div></div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="circle-3 circle"></div>
            <div class="note note-3">
                <a>Then confirm the email. It's that simple.</a>
                <a class="btn" v-on:click="Hide">I'm finished</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            shown: false,
            darkMode: window.darkMode
        };
    }, 
    methods: {
        Show: function() {
            this.shown = true;
            $("html").addClass("noscroll");
        },
        Hide: function() {
            this.shown = false;
            $("html").removeClass("noscroll");
            this.$root.$emit("onboarding-stop");

            var body = $("html, body");
            body.stop().animate({scrollTop:0}, 500, 'swing');
        }
    },

    mounted() {

        this.$root.$on('theme-update', (theme) => this.darkMode = theme);

        this.$root.$on('onboarding-start', function() {
            this.Show();
        }.bind(this));
    }
}
</script>

<style lang="scss" scoped>
@import "~#/_variables.scss";

.backdrop {
    position: absolute;
    width: 100vw !important;
    height: 190vh !important;
    top: 0px;
    z-index: 2;
    background-color: $background;
    opacity: 1 !important;
    transition: opacity 0.2s $onboarding-ease;
}

.hidden {
    height: 0px;
    width: 0px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
}

.exit {
    background-color: $primary;
    margin: 20px;
    width: calc(100vw - 40px);
    color: white;
    border-color: $primary;
    text-align: center;
    cursor: pointer;
}

.col {
    padding: 0px;
}

.main {
    color: white;
    overflow: hidden;
}

b {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

i {
    font-size: 80px;
}

.breaker {
    width: 100%;
    height: 200px;
}

.main .container .row {
    height: 100%;
    margin: 0px;
}

.slide {
    padding-left: 20%;
    padding-right: 20%;
}

.circle {
    animation: 0.5s circle cubic-bezier(.1,.56,.18,1.02);
    animation-delay: 1.8s;
    position: absolute;
    background-color: #E7E9F0;
    animation-fill-mode: forwards;
    border-radius: 50000px;
    width: .6vw;
    height: .6vw;
}

.circle-1 {
    top: 25vh;
}

.circle-2 {
    top: 80vh;
    right: 0px;
}

.circle-3 {
    top: 330vh;
    left: 30vw;
    background-color: $primary;
    width: 1.8vw;
    height: 1.8vw;
}

@keyframes circle {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(120);
    }
}

.note {
    position: absolute;
    height: 100px;
    width: 240px;
    z-index: 4;

    a {
        font-size: 1.7em;
        color: black !important;
    }

    .divider {
        width: 100%;
        height: 2px;
        background-color: $lbackground;
    }

    .col-2 .dot {
        margin-top: 15px;
        border-radius: 15px;
        height: 10px;
        width: 10px;
        background-color: $disabledText;
    }

    .col-2 .active {
        background-color: $primary;
    }
}

.note-1 {
    right: 35vw;
    top: 20vh;
}

.note-2 {
    left: 35vw;
    top: 100vh;
}

.note-3 {
    width: 300px;
    left: 15vw;
    bottom: 10vh;
    display: flex;
    flex-direction: column;

    a {
        color: white !important;
    }

    .btn {
        background-color: $background;
        color: black !important;
        cursor: pointer;
        margin-top: 10px;
    }
}

.dark-mode {
    background-color: $dbackground !important;

    .circle:not(.circle-3) {
        background-color: $lbackground !important;
    }

    .note {

        a:not(.btn) {
            color: white !important;
        }

        .divider {
            background-color: $background;
        }

        .col-2 .dot {
            background-color: $disabledText;
        }

        .col-2 .active {
            background-color: $primary;
        }
    }
}
</style>