<template>
    <a v-bind:class="{shadow: true, shown: shown }">{{ text }}</a>
</template>

<script>
export default {
    created() {
        window.notify = function(notification) {
            this.text = notification;
            this.shown = true;

            setTimeout(function() {
                this.shown = false;
            }.bind(this), 4000)

        }.bind(this);
    },
    data() {
        return {
            shown: false,
            text: ""
        }
    }
}
</script>

<style lang="scss" scoped>
@import "~#/_variables.scss";
    a {
        position:fixed;
        padding: 20px;
        background-color: $primary;
        bottom: 10px;
        height: 30px;
        border-radius: 20px;
        left: 10px;
        margin-bottom: 5px;
        line-height: 0px;
        user-select: none;
        cursor: pointer;
        max-width: 40%;
        color: white;
        z-index: 1000;
        transform: translateY(40px);
        transition: all 0.2s;
        opacity: 0;
    }

    .shown {
        transform: translateY(0px);
        opacity: 1;
    }
</style>