<template>
    <form id="shows-list" v-bind:class="{shows: true, shadow: true, 'dark-theme': darkMode, onboarding}" @submit.prevent="Submit();" v-bind:style="{height: height + 'px'}">
        <div class="list col">
            <show v-if="shows" v-for="show in shows" v-bind:id="show" v-bind:key="show"></show>
        </div>
        <input type="text" id="email" required v-model="email" style="outline: none;" placeholder="GoTFan1234@gmail.com">
        <br>
        <input type="submit" value="Confirm Email Notification">
    </form>
</template>

<script>

export default {
    data() {
        return {
            email: "",
            shows: window.shows,
            darkMode: window.darkMode,
            height: screen.height * 0.6,
            onboarding: false
        }
    },
    mounted() {

        this.$root.$on('reset-lists', (theme) => {
            this.email = "";
            window.shows = [];
        });

        this.$root.$on('theme-update', (theme) => this.darkMode = theme);
        
        if (screen.width < 920) {
            return;
        }

        this.$root.$on('onboarding-start', function() {
            this.darkMode = !this.darkMode;
            this.onboarding = true;
        }.bind(this));

        this.$root.$on('onboarding-stop', function() {
            this.darkMode = !this.darkMode;
            this.onboarding = false;
        }.bind(this));
    },
    methods: {
        Submit() {
            //Validate email
            var email = $("#email").val();

            if (!this.validateEmail(email)) {
                return window.notify("Invalid email");
            }

            if (window.shows.length == 0) {
                return window.notify("Subscribe to at least one show");
            }

            var subs = "";

            for(var show in window.shows) {
                subs += window.shows[show] + ";";
            }

            var xsrf = this.getCookie("XSRF-TOKEN");

            xsrf = xsrf.replace("%3D", "");
            xsrf = xsrf.replace("%3D", "");

            $.ajax({
                method: "POST",
                url: "/subscribe",
                data: {
                    email: email,
                    subscriptions: subs
                },
                headers: {
                    'X-XSRF-TOKEN': xsrf,
                }
            }).done(function( data ) {
                var message = $.parseJSON(data).message;
                if (message == "Success") {
                    window.verified();
                } else {
                    window.notify(message);
                }
            });
        },
        validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email.toLowerCase());
        },
        getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }
    }
}

</script>

<style lang="scss" scoped>
@import "~#/_variables.scss";

.shows {
    background-color: $background;
    border-radius: $cornerRoundness;
    margin-top: 20px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    z-index: 10;
    transition: margin-top 0.5s ease-out;
}

input {
    background: none;
    border: none;
    width: 100%;
    background-color: $lgrey;
    border-radius: $cornerRoundness;
    padding: 10px;
    color: $primaryText;
}

input[type=submit] {
    background-color: $primary;
    color: white;
    margin-top: 5px;
}

.list {
    flex-direction: column;
    display: flex;
    height: calc(100% - 105px);
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
    padding: 0px;
}

.dark-theme {
    background-color: $dbackground !important;

    input {
        background-color: $lbackground;
        color: white;
    }
}

.onboarding {
    margin-top: 300px;
}

</style>