<template>
    <div v-bind:class="{show: true, 'dark-theme': darkMode}" v-on:click="Clicked();">
        <div class="row">
            <div class="col-3">
                <img v-if="!invalidPoster" v-bind:src="'/shows/' + this.id + '/poster.jpeg'" v-on:error="invalidPoster = true;">
                <div id="no-poster" v-if="invalidPoster">
                    <a>?</a>
                </div>
            </div>
            <div class="col-9">
                <a class="name">{{ jsonData.name }}</a>
                <a class="year">{{ jsonData.year }}</a>
                <br>
                <div class="rating">
                    <i class="material-icons" v-for="index in 10" :key="index">{{ jsonData.rating > index ? 'star' : 'star_border' }}</i>
                </div>
                <a class="description">{{ jsonData.description }}</a>
            </div>
        </div>
        <a class="add" v-if="addable">Click to add!</a>
        <a class="add" v-if="!addable">Click to remove</a>
    </div>
</template>

<script>

export default {
    props: [ 'id', 'addable'],
    data() {
        return {
            jsonData: {
                name: "Unknown Title"
            },
            poster: "",
            invalidPoster: false,
            darkMode: window.darkMode
        };
    },
    created() {
        $.getJSON("/shows/" + this.id + "/info.json", function(data) {
            this.jsonData = data;
        }.bind(this));

        this.$root.$on('onboarding-start', function() {
            this.darkMode = !this.darkMode;
        }.bind(this));

        this.$root.$on('onboarding-stop', function() {
            this.darkMode = !this.darkMode;
        }.bind(this));

        this.$root.$on('theme-update', (theme) => this.darkMode = theme);
    },
    methods: {
        Clicked() {
            if (this.addable) {
                //Prevent duplicates
                for(var show in window.shows) {
                    if (window.shows[show] == this.id) {
                        return;
                    }
                }

                window.shows.push(this.id);
            } else {
                //Remove it
                for(var show in window.shows) {
                    if (window.shows[show] == this.id) {
                        window.shows.splice(show, 1);
                    }
                }
            }
        }
    }
}

</script>

<style lang="scss" scoped>
@import "~#/_variables.scss";

.show {
    transition: all 0.2ms ;
    cursor: pointer;
    max-height: 100px;
    padding: 10px;
    padding-left: 10px;
    margin-right: 10px;
    animation: show 0.2s;

    img {
        transition: transform 0.1s ease-in;
    }
}

.col-9 {
    margin-top: -5px;
    padding-left: 0px;
}

* {
    user-select: none !important;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.show:hover {
    background-color: rgba(100, 100, 100, 0.1);
    border-radius: $cornerRoundness;

    img {
        transform: scale(1.05);
    }
}

.show img, #no-poster {
    height: 80px;
    border-radius: 5px;
    max-width: 100%;
    width: 54px;
    border: none;
    display: block;
}

#no-poster {
    background-color: #d2d2d2;
}

.add {
    position: absolute;
    text-align: center;
    margin-top: -20px;
    height: 20px;
    opacity: 0;
    top: 0px;
    right: 0px;
    background-color: pink;
    border-radius: 20px;
}

.show:hover .add { 
    opacity: 1;
}

#no-poster a {
    font-size: 30px;
    font-weight: bold;
    color: #7b7676;
    max-width: 12px;
    max-height: 48px;
    position: absolute;
    user-select: none;
    left: 0px; right: 0px; top: 0px; bottom: 0px;
    margin: auto;
    padding-right: 30px;
}

.rating i {
    font-size: 14px;
    color: gold;
    letter-spacing: 0px;
}

.description {
    color: $lbackground !important;
    font-size: 12px;
    text-overflow: ellipsis;
    max-height: 40px;
    overflow: hidden;
    display: block;
}

.year {
    color: $secondaryText;
    font-size: 10px;
}

.name {
    color: black !important;
}

.dark-theme {
    .show {
        color: white;
    }

    .name {
        color: white !important;
    }
    
    .description {
        color: $disabledText !important;
    }
}

</style>