<template>
    <form id="shows-source" onsubmit="return false;" v-bind:class="{shows: true, shadow: true, 'dark-theme': darkMode, onboarding}" v-bind:style="{height: height + 'px'}">
        <div class="header">
            <input type="text" v-model="searchQuery" placeholder="Game of Thrones ..." v-on:input="Typed();">
        </div>
        <div class="placeholder linear-background" v-show="searching">
            <div class="certChunk"></div>
            <div class="row row1">
                <div class="chunk1"></div>
                <div class="chunk2"></div>
                <div class="chunk3"></div>
            </div>
            <div class="row row2">
                <div class="chunk1"></div>
                <div class="chunk2"></div>
                <div class="chunk3"></div>
            </div>
            <div class="row row3">
                <div class="chunk1"></div>
                <div class="chunk2"></div>
                <div class="chunk3"></div>
            </div>
            <div class="row row4">
                <div class="chunk1"></div>
                <div class="chunk2"></div>
                <div class="chunk3"></div>
            </div>
        </div>
        <div class="list col">
            <a class="status">{{ this.status }}</a>
            <show v-if="searchQuery" v-for="result in searchResults" v-bind:id="result" v-bind:key="result" addable=true></show>
            <div class="defaults" v-if="!searchQuery">
                <show id="tt4574334" addable=true></show>
                <show id="tt8111088" addable=true></show>
                <show id="tt5753856" addable=true></show>
                <show id="tt2442560" addable=true></show>
                <show id="tt5171438" addable=true></show>
                <show id="tt2085059" addable=true></show>
                <show id="tt4158110" addable=true></show>
                <show id="tt4635282" addable=true></show>
                <show id="tt1898069" addable=true></show>
                <show id="tt5290382" addable=true></show>
                <show id="tt6905542" addable=true></show>
                <show id="tt5834204" addable=true></show>
            </div>
        </div>
    </form>
</template>

<script>

export default {
    props: {
        id: String
    },
    data() {
        return { 
            searching: false,
            searchQuery: "",
            /* Stores the query we sent a search request for */
            webQuery: "",
            searchResults: [],
            status: null,
            darkMode: window.darkMode,
            height: screen.height * 0.6,
            onboarding: false
        }
    },

    mounted() {

        this.$root.$on('reset-lists', (theme) => {
            this.searching = false;
            this.searchQuery = "";
            this.webQuery = "";
            this.searchResults = [];
            this.status = null;
        });

        this.$root.$on('theme-update', (theme) => this.darkMode = theme);

        this.$root.$on('onboarding-start', function() {
            this.darkMode = !this.darkMode;
            this.onboarding = true;
        }.bind(this));

        this.$root.$on('onboarding-stop', function() {
            this.darkMode = !this.darkMode;
            this.onboarding = false;
        }.bind(this));
    },
    methods: {
        Typed() {
            //The user has typed something
            this.searchResults = [];
            this.status = null;

            //Search once every second
            const searchDelay = 1 * 1000;

            if (!this.searchQuery) {
                this.searching = false;
                return;
            }

            if (this.searching) {
                return;
            }

            this.searching = true;
            setTimeout(() => { this.Search() }, searchDelay);
        },
        Search() {
            var request = $.getJSON("/search?q=" + this.searchQuery);
            this.webQuery = this.searchQuery;

            request.done(function(result) {
                if (result.message) {
                    this.status = result.message;
                    this.searching = false;
                } else {
                    // Only show results if that's still what they're searching for
                    if (this.webQuery == this.searchQuery) {
                        this.searchResults = result;
                        this.status = null;
                        this.searching = false;
                    }
                }

            }.bind(this))
            .fail(function() {
                window.notify("Failed to search, try again later");
                this.status = "Failed to search, try again later";
                this.searching = false;
            });
        }
    }
}

</script>

<style lang="scss" scoped>
@import "~#/_variables.scss";

.shows {
    background-color: $background;
    border-radius: $cornerRoundness;
    margin-top: 20px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    z-index: 10;
    transition: margin-top 0.5s ease-out;
}

.header {
    padding: 20px;
    border-top-left-radius: $cornerRoundness;
    border-top-right-radius: $cornerRoundness;

    input {
        width: 100%;
        border: none;
        border-radius: $cornerRoundness;
        color: $primaryText;
        background-color: $lgrey;
        padding: 10px;
        font-weight: 600;
    }

    input::-webkit-input-placeholder {
        color: $lgrey;
    }
}

.list {
    flex-direction: column;
    display: flex;
    height: calc(100% - 100px);
    margin-left: 20px;
    margin-right: 20px;
    max-width: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
    padding: 0px;
}

.status {
    width: 100%;
    text-align: center;
    position: absolute;
    color: $uiElement !important;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.linear-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, rgba(10, 10, 10, 0.15) 8%, rgba(30, 30, 30, 0.25) 18%, rgba(10, 10, 10, 0.15) 33%);
    background-size: 1000px 104px;
    position: absolute;
    display: block;
    width: calc(100% - 80px);
    margin-top: 20px;
    margin-left: 20px;
    z-index: 2;

    .certChunk {
        position: absolute;
        left: calc(30% - 31px);
        width: 30px;
        height: 100%;
        background-color: $background;
    }

    .row {
        height: 100px;

        .chunk1 {
            width: 70%;
            margin-left: calc(30% - 15px);
            height: calc(100% - 20px);
            margin-top: 20px;
            background-color: $background;
        }

        .chunk2 {
            position: absolute;
            width: 30%;
            height: 20px;
            background-color: $background;
            margin-top: 80px;
        }

        .chunk3 {
            position: absolute;
            right: 0px;
            height: 20px;
            background-color: $background;
        }
    }

    .row1 .chunk3 {
        width: random(45) * 1%;
    }
    .row2 .chunk3 {
        width: random(45) * 1%;
    }
    .row3 .chunk3 {
        width: random(45) * 1%;
    }
    .row4 .chunk3 {
        width: random(45) * 1%;
    }
}

.dark-theme {
    background-color: $dbackground !important;
    color: white !important;

    input {
        color: white;
        background-color: $lbackground;
    }

    .linear-background .row > div, .certChunk {
        background-color: $dbackground !important;
    }

    .status {
        color: $secondaryText !important;
    }
}

.onboarding {
    margin-top: -100px;
}

</style>