<template>
    <div v-bind:class="{container: true, 'dark-mode': darkMode}">
        <div class="card">
            <div class="col">
                <div class="verify">
                    <a>You're verified!</a>
                </div>
                <div class="row info">
                    <div class="col-4">
                        <img src="/assets/camera.svg" alt="Get notified when a show is announced">
                        <img src="/assets/arrow.svg" class="arrow" alt="Verify your email">
                        <br><br><br><br>
                        <a>We'll notify you at the beginning of each month what shows you're interested in are getting a new season!</a>
                    </div>
                    <div class="col-4">
                        <img src="/assets/movie.svg" alt="Get notified when a new season launches">
                        <br><br><br><br>
                        <a>We'll also remind you on the day the first episode launches so you never miss a second.</a>
                    </div>
                    <div class="col-4">
                        <img src="/assets/email.svg" alt="Verify your email">
                        <br><br><br><br>
                        <a>We've just sent you another email to reach this screen so you can change your subscriptions in the future. This is the last one, we promise.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            darkMode: window.darkMode
        }
    },

    mounted() {
        this.$root.$on('theme-update', (theme) => this.darkMode = theme);
    }
}
</script>

<style lang="scss" scoped>
@import "~#/_variables.scss";

.card {
    position: relative;
    height: 400px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    border-radius: 20px;
    border: none;
    background-color: $background;
    animation: show 0.2s;
    color: $primaryText;
}

.verify {
    height: 100px;
    border-radius: 20px;
    display: flex;
}

.verify a {
    width: 100%;
    text-align: center;
    padding-top: 13px;
    font-size: 30px;
}

.info {
    margin-top: 20px;
}

.info img:not(.arrow) {
    width: 80px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.info .arrow {
    width: 60px;
    position: absolute;
    right: -30px;
    top: 10px;
}

.col {
    padding: 20px;
}

@keyframes show {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes back-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

img {
    transition: all 0.2s;
}

img:hover {
    transform: scale(1.1);
}

.dark-mode {
    .card {
        background-color: $dbackground;
        color: white;
    }
}

</style>