<template>
    <form v-bind:class="{shows: true, shadow: true, 'dark-theme': darkMode}" v-bind:style="{height: height + 'px'}" id="verified-shows" @submit.prevent="Submit();">
        <div class="list col">
            <show v-if="shows" v-for="show in shows" v-bind:id="show" v-bind:key="show"></show>
        </div>
        <input type="submit" value="Save Changes">
    </form>
</template>

<script>

export default {
    data() {
        return {
            email: "",
            shows: window.shows,
            darkMode: window.darkMode,
            height: screen.height * 0.6
        }
    },
    mounted() {
        this.$root.$on('theme-update', (theme) => this.darkMode = theme);
    },
    methods: {
        Submit() {

            if (window.shows.length == 0) {
                window.notify("Subscribe to at least one show");
            }

            var subs = "";

            for(var show in window.shows) {
                subs += window.shows[show] + ";";
            }

            var xsrf = this.getCookie("XSRF-TOKEN");

            xsrf = xsrf.replace("%3D", "");
            xsrf = xsrf.replace("%3D", "");

            $.ajax({
                method: "POST",
                url: "/save",
                data: {
                    code: this.getParameter("code"),
                    subscriptions: subs
                },
                headers: {
                    'X-XSRF-TOKEN': xsrf,
                },
            });

            window.notify("Saved changes");
        },
        getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        },
        getParameter(name){
            if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
                return decodeURIComponent(name[1]);
        }
    }
}

</script>

<style lang="scss" scoped>
@import "~#/_variables.scss";

.shows {
    background-color: white;
    border-radius: $cornerRoundness;
    margin-top: 20px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}

input {
    background: none;
    border: none;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.1);
    border-radius: $cornerRoundness;
    padding: 10px;
    color: white;
}

input[type=submit] {
    background-color: $primary;
    margin-top: 5px;
}

.list {
    flex-direction: column;
    display: flex;
    height: calc(100% - 65px);
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
    padding: 0px;
}

.dark-theme {
    background-color: $dbackground;
}

</style>