<template>
    <div class="container" v-if="shown">
        <div class="card">
            <div class="col">
                <div class="verify">
                    <h4>Email verification sent!</h4>
                </div>
                <br>
                <div class="row info">
                    <a>We've sent you an email to verify its you. Click on the link to confirm you want to subscribe!</a>
                </div>
                <br><br>
                <div class="row email">
                    <a>{{ email }}</a>
                </div>
                <br><br>
                <input type="submit" class="form-control" v-on:click="$root.$emit('reset-lists')" value="OK">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            shown: false,
            email: ""
        };
    },
    created() {

        this.$root.$on('reset-lists', (theme) => {
            this.shown = false;
        });

        window.verified = function() {
            this.shown = true;
            this.email = $("#email").val();
        }.bind(this);

        window.unverified = function() {
            this.shown = false;
        }.bind(this);
    }
}
</script>

<style lang="scss" scoped>
@import "~#/_variables.scss";

.container {
    position: fixed;
    top: 0px;
    z-index: 100;
    display: block;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    height: 100vh;
    padding: 0px;
    background-color: rgba(20, 20, 20, 0.7);
    animation: back-show 0.2s;
    color: $primaryText;
}

.card {
    top: 20vh;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    padding: 50px;
    border-radius: 20px;
    border: none;
    background-color: white;
    animation: show 0.2s;
}

h4 {
    display: block;
    text-align: center;
    font-weight: 600;
}

.email a {
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 600;
}

input {
    background-color: $primary;
    color: white;
}

@keyframes show {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes back-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

</style>