// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$background: white;
$dbackground: #272727;
$lbackground: #363636;
$uiElement: #5d5d5d;
$primary: #7782d2;
$lprimary: #9299ce;
$primaryText: #212121;
$secondaryText: #A0A0A0;
$disabledText: #bcbcbc;

$cornerRoundness: 10px;
$lgrey: #eee;
$onboarding-ease: cubic-bezier(.69,.19,.48,.94);