//
// Fonts
//
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~material-design-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Site Themes */
html, body {
    background-color: $body-bg;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    overflow-x: hidden;
}

input::placeholder {
    color: $uiElement !important;
}

.noscroll body {
    max-height: 190vh;
}

* {
    font-family: 'Open Sans', sans-serif;
}

/* Colors */
.secondary-text {
    color: $secondaryText !important;
}

.primary-text {
    color: $primaryText !important;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track { 
    background-color: rgba(0, 0, 0, 0.1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); 
}

::-webkit-input-placeholder {
    color: white;
}

/* Dark mode transition */
* {
    transition: all 0.2s ease-in-out;
}

/*
    Responsive Design
*/

.page {
    margin-top: -25vh;
}

/* Stops jarring resizing when looking at how it works which makes the scrollbar appear */
@media (min-width: 1200px) {
    html {
        overflow-y: scroll !important;
        min-height: 100vh;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 97vw !important;
        padding: 0px;
    }
}

@media (max-width: 920px) {
    #shows-source, #shows-list {
        width: 100%;
    }

    footer {
        .content {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
        }
    }

    .breaker1 {
        width: 100vw !important;
    }

    .page {
        margin-top: -15vh !important;
    }

    #background {
        background-size: cover;
        background-position: center;
        height: 35vh !important;
        background-position-y: 0px !important;
    }

    #howitworks .breaker {
        height: 150px !important;
        width: auto !important;
    }
}